rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if request.auth.uid != null;
    }
    match /{uid}/events/{filename} {
    	allow read: if request.auth.uid != null;
      allow create: if request.auth.uid == uid;
    }
  }
}
